<div class="w-50 mx-auto  bg-dark p-4">
    <h2 class="text-white mb-3">Login</h2>
    {{#if loginError}}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong class="text-danger fs-5 me-3">Error!</strong> <span class="fs-5">{{loginError}}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{/if}}
    <form action="/login" method="post">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button type="submit" class="btn btn-primary w-25">Login</button>
    </form>
</div>