<div class="w-50 mx-auto">
    <h2>Register</h2>
    <form action="/register" method="post">
        <div class="d-flex gap-3">
            <div class="form-floating mb-3 w-50">
                <input type="text" class="form-control" name="firstname" id="floatingInput" placeholder="Bobur">
                <label for="floatingInput">First Name</label>
            </div>
            <div class="form-floating w-50">
                <input type="text" class="form-control" name="lastname" id="floatingPassword" placeholder="Zokirov">
                <label for="floatingPassword">Last Name</label>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button type="submit" class="btn btn-primary w-25">Register</button>
    </form>
</div>