a {
    text-decoration: none;
    border: none;
    color: #000;
    transition: all 0.2s ease;
}

h5 a:hover {
    color: blue;
    /* border-bottom: 2px solid blue; */
}

.avatar {
    display: flex;
    justify-content: start;
    align-items: baseline;
    /* padding: 5px 15px; */
    gap: 5px;
    color: #000;
    /* text-transform: capitalize; */
}

.avatar p {
    margin: 0;
    padding: 0;
}