a {
    text-decoration: none;
    border: none;
    color: #000;
    transition: all 0.2s ease;
}

h5 a:hover {
    color: blue;
    /* border-bottom: 2px solid blue; */
}

.avatar {
    display: flex;
    justify-content: start;
    align-items: baseline;
    /* padding: 5px 15px; */
    gap: 5px;
    color: #000;
    /* text-transform: capitalize; */
}

.avatar p {
    margin: 0;
    padding: 0;
}

.product-image {
    width: 100%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.detail-card {
    padding: 20px;
    background: #d6d0d0;
}

.image-container img {
    width: 100%;
    height: 100%;
}